{% extends 'main\Base.html' %}

{% block title %} Парсер {% endblock %}

{% block content %} 
<div class="content parser">
    <h1>Парсер</h1>
    <p>Парсер проходит на сайт "Кинопоиск" в топ фильмов, проходит по фильму из списка, начиная с 1, собирая ссылку, название и рейтинг фильма. Вы можете ввести слово или выражение, по которому хотите найти фильм. После этого останется только нажать кнопку "Обработать" и подождать результата. Рейтинг парсер собирает со страницы "Топ 250", на которой он формируется по оценке посетителей сайта, а на страницах фильмов указан рейтинг с портала IMDb, поэтому он может отличаться. </p>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="Key">
        <button type="submit">Обработать</button>
    </form> 

    {% for el in answer %}
        {% if el.name != '' %}
            <p>Название: <a href={{el.link}}>'{{el.name}}'</a>; Рейтинг: {{el.rating}}</p>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}